## Python bytecode
__pycache__/
*.py[cod]
*$py.class

## Virtual environments
.venv/
venv/
ENV/
env/

## Jupyter
.ipynb_checkpoints/

## IDE / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini

## Project outputs / artifacts
output/
